---
// ZONA 1: Frontmatter
// ¡Aquí NO va el HTML! Esta zona es solo para importar componentes después.
---

<!-- ZONA 2: Tu HTML de toda la vida -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>CeroUno MVP</title>
  </head>
  <body style="background-color: #b4a561; color: #020202; text-align: center; margin-top: 50px;">
    
    <div>
      <h1>CeroUno</h1>
      <p>fiuimba y ese helicoptero? 
	  
	  life gone oni oni oni oninoni</p>
    </div>
  </body>
</html>